*{
    margin: 30px;
    border-width: 3px;
    border-width: 5px;
    background-color: aqua;

}

header h1{
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: red;

}
button{
    margin-left: 50px;

}
button:hover{
    cursor: pointer;
background-color: black;
    color: white;

}
p{
    font-size: 20px;
}
h2{
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: red; 
    font-size: 30px;
}
.container {
display: flex;
}

.results{
    width: 95%;
    height: 150px;
    justify-content: center;



}



